.about-section {
  background-color: var(--clr-white);
  padding: 5em 1.5em;
}

.about-container {
  background-color: var(--clr-grey-9);
  padding: 1.5em;
  border-radius: 15px;
  max-width: var(--max-width);
  margin: auto;
}

.about-title {
  text-align: center;
}

.card {
  background-color: var(--clr-grey-10);
  padding: 1.5em;
  margin: 2em auto;
  border-radius: 15px;
  max-width: 800px;
}

.card--icon {
  text-align: center;
  margin: 0 2em 0 1em;
}

.card--icon svg {
  height: 5rem;
  width: 5rem;
}

.card h3 {
  text-align: center;
}

.readMore {
  text-align: center;
  margin: 1.5em auto;
}

.readMore a {
  color: var(--clr-grey-10);
  background-color: var(--clr-primary-1);
  padding: 1rem;
}

.readMore a:hover {
  background-color: var(--clr-primary-3);
}

@media only screen and (min-width: 1024px) {
  .card {
    display: flex;
  }

  .card--icon {
    margin: 2em 2em 0 1em;
  }
}
