.messageOne-section {
  background-color: var(--clr-white);
  padding: 2em;
}

.messageOne-container {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .messageOne-section {
    padding: 4em 2em;
  }

  .messageOne-container {
    flex-direction: row;
    column-gap: 2rem;
  }

  .name-pos {
    min-width: 380px;
    text-align: right;
  }

  .message {
    max-width: 730px;
  }
}
